/* 
  Google Fonts:
    font-family: 'Oxygen', sans-serif;
*/

/* Global styling */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #f3f3f3;
}

a:hover {
	color: yellow;
	text-decoration: none;
}

body {
	font-family: 'Oxygen', sans-serif;
	background-color: black;
	color: #f3f3f3;
	line-height: 1.5em;
	font-size: 1.2em;
}

.headings {
	margin-top: 5px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
}

/* Header-Hero Container Styling */
/* Background image credit to Josh Haggard */

.header-hero-container {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('./static/images/bridge-shot2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 60vh;
	padding: 5px;
}

.header-container {
	display: flex;
	justify-content: space-between;
	padding: 0 10px 0 10px;
}

.nav-items {
	display: flex;
	flex-direction: column;
}
header nav ul {
	list-style: none;
}

.hero-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.portfolio-picture {
	margin-top: 10px;
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

.social-media {
	display: flex;
	list-style: none;
	margin-top: 10px;
}

.social-media li {
	margin-right: 30px;
}

/* About section CSS */
.about-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	line-height: 1.5em;
	/* background-color: #333a40; */
	background-color: black;
}

.about-contents {
	/* border: 1px solid black; */
	margin-top: 10px;
	background-color: #333a40;
	padding: 20px;
	border-radius: 10px;
	max-width: 90%;
}

/* Skills section CSS */
.skills-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: #f3f3f3;
}

.skills-card {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #f3f3f3;
	margin-top: 10px;
	padding: 10px;
	width: 300px;
	border-radius: 10px;
}

.skills-card ul li {
	margin-top: 5px;
}

/* Portfolio Card CSS */

.portfolio-container {
	/* background-color: #333a40; */
	background-color: black;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.individual-cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	padding: 10px;
	border-radius: 10px 20px 10px 20px;
	font-size: 0.8em;
	line-height: 1.5em;
}

.portfolio-card {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	height: 100%;
	padding: 10px;
	/* background-color: #333a40; */
}

.portfolio-images {
	width: 18rem;
	height: 200px;
	padding: 5px;
}

/* Footer section CSS */

.footer-container {
	/* background-color: #333a40; */
	background-color: black;
	padding: 5px;
}

footer {
	width: 100vw;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.copyright-info {
	text-align: center;
}

/* Media Queries */

@media (min-width: 640px) {
	.hero-container {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 50vh;
	}

	.intro-container {
		margin-left: 100px;
		font-size: 1.5em;
	}

	.image-container {
		margin-right: 100px;
	}

	.portfolio-picture {
		height: 250px;
		width: 250px;
	}

	.nav-items {
		flex-direction: row;
	}

	.nav-items li {
		margin-right: 20px;
		font-size: 1.2em;
	}

	.profile-picture {
		height: 200px;
		width: 200px;
	}

	.skills-container {
		flex-direction: row;
		justify-content: space-between;
		padding: 10px;
	}
}
